---
---

<section
  id="promotion"
  class="px-4 py-16 lg:px-16 w-full h-[550px] flex flex-col justify-center items-center gap-8 bg-[url('/img/flota.jpg')] bg-cover bg-no-repeat bg-center bg-fixed relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b after:from-gray-800 after:via-gray-800/60 after:to-gray-800 overflow-hidden"
>
  <!-- <img src="img/car-promo.png" class="relative z-10" alt="" /> -->
  <h2
    class="scrollreveal text-4xl md:text-6xl font-bold text-gray-50 z-10 text-center [text-shadow:_4px_4px_2px_rgba(0,0,0,0.4);] opacity-0"
    style="--i:.7s"
    data-to="right"
  >
    Pregunta por nuestra promocion y obten un descuento de hasta el 15% por tu
    flota.
  </h2>
  <p
    class="scrollreveal text-3xl font-semibold text-gray-50 z-10 text-center [text-shadow:_4px_4px_2px_rgba(0,0,0,0.3);] opacity-0"
    style="--i:.7s"
    data-to="left"
  >
    "Que esperas, manten el control sobre tus unidades YA!"
  </p>
</section>
