---
---

<section
  id="contact"
  class="px-2 py-16 w-full h-full lg:px-4 bg-emerald-900 flex flex-col justify-center items-center gap-4 relative overflow-hidden"
>
  <div class="absolute top-0 left-0 w-full overflow-hidden leading-[0]">
    <svg
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="relative block w-[calc(158%_+_1.3px)] h-16 [rotateY:180deg;]"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".3"
        class="shape-fill fill-gray-800"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill fill-gray-800"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill fill-gray-800"></path>
    </svg>
  </div>
  <h2
    class="scrollreveal text-4xl font-bold text-gray-50 z-10 text-center opacity-0"
    style="--i:.2s"
    data-to="right"
  >
    Obtenga una cotización ahora:
  </h2>
  <p
    class="scrollreveal text-sm font-semibold text-gray-300 opacity-0"
    style="--i:.2s"
    data-to="left"
  >
    Le proporcionaremos una cotización a su número de teléfono y/o correo
    electrónico.
  </p>
  <form
    id="form"
    class="scrollreveal px-4 py-8 md:p-6 w-full max-w-5xl flex flex-col z-10 rounded-3xl opacity-0"
    style="--i:.5s"
    data-to="left"
  >
    <div class="flex flex-wrap -mx-3 md:mb-4">
      <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
        <input
          class="appearance-none block w-full text-gray-700 rounded-xl py-3 px-4 leading-tight bg-white border-[3px] border-emerald-900 placeholder:text-emerald-800/50 placeholder:font-bold placeholder:text-lg outline outline-offset-2 outline-2 outline-gray-50"
          name="fullName"
          id="fullName"
          required
          type="text"
          placeholder="Nombres"
        />
        <p
          id="error__fullName"
          class="m-auto text-red-500 font-bold mt-2 text-sm"
        >
        </p>
      </div>
      <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
        <input
          class="appearance-none block w-full text-gray-700 rounded-xl py-3 px-4 leading-tight bg-white border-[3px] border-emerald-900 placeholder:text-emerald-800/50 placeholder:font-bold placeholder:text-lg outline outline-offset-2 outline-2 outline-gray-50"
          name="phone"
          id="phone"
          type="text"
          required
          placeholder="Telf. / Cel."
        />
        <p id="error__phone" class="m-auto text-red-500 text-sm font-bold mt-2">
        </p>
      </div>
      <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
        <input
          class="appearance-none block w-full text-gray-700 rounded-xl py-3 px-4 leading-tight bg-white border-[3px] border-emerald-900 placeholder:text-emerald-800/50 placeholder:font-bold placeholder:text-lg outline outline-offset-2 outline-2 outline-gray-50"
          name="email"
          id="email"
          type="email"
          required
          placeholder="Correo "
        />
        <p id="error__email" class="text-red-500 text-sm font-bold mt-2 m-auto">
        </p>
      </div>
      <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0">
        <input
          class="appearance-none block w-full text-gray-700 rounded-xl py-3 px-4 leading-tight bg-white border-[3px] border-emerald-900 placeholder:text-emerald-800/50 placeholder:font-bold placeholder:text-lg outline outline-offset-2 outline-2 outline-gray-50"
          name="message"
          id="message"
          type="text"
          required
          placeholder="Detalles"
        />
        <p
          id="error__message"
          class="m-auto text-red-500 text-sm font-bold mt-2"
        >
        </p>
      </div>
      <div class="w-full md:w-1/5 px-3 mb-6 md:mb-0 flex justify-center">
        <button
          class="w-full px-3 py-3 uppercase bg-gray-50 font-bold text-emerald-900 rounded-3xl transition-all border-none focus:outline-none hover:brightness-90"
          id="formButton"
          type="submit"
        >
          Enviar
        </button>
      </div>
    </div>
  </form>
  <div
    class="absolute bottom-0 left-0 w-full overflow-hidden leading-[0] [rotate:180deg;]"
  >
    <svg
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
      class="relative block w-[calc(158%_+_1.3px)] h-16"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".3"
        class="shape-fill fill-gray-800"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill fill-gray-800"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill fill-gray-800"></path>
    </svg>
  </div>
</section>
