---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Sections/Hero.astro';
import Priority from '../components/Sections/Priority.astro';
import Development from '../components/Sections/Development.astro';
import Platforms from '../components/Sections/Platforms.astro';
import Map from '../components/Sections/Map.astro';
import Quote from '../components/Sections/Quote.astro';
import About from '../components/Sections/About.astro';
import Services from '../components/Sections/Services.astro';
import Promotion from '../components/Sections/Promotion.astro';
import Process from '../components/Sections/Process.astro';
import Cursor from '../components/Cursor.astro';
---

<Layout>
  <main class="w-full grid">
    <Hero />
    <Priority />
    <About />
    <Development />
    <Platforms />
    <Services />
    <Quote />
    <Promotion />
    <Process />
    <Map />
    <Cursor />
  </main>
</Layout>
