---
---

<button
  class="btn-hamburger group/btn peer/btn cursor-pointer lg:hidden"
  data-expanded="false"
  type="button"
>
  <svg class="fill-gray-50" viewBox="0 0 100 100" width="60">
    <rect
      class="origin-center transition-r-ot-delay group-[[data-expanded='true']]/btn:transition-t-or-delay group-[[data-expanded='true']]/btn:translate-y-[20%] group-[[data-expanded='true']]/btn:[rotate:45deg]"
      width="80"
      height="10"
      x="10"
      y="25"
      rx="5"></rect>
    <rect
      class="origin-center transition-r-ot-delay group-[[data-expanded='true']]:transition-t-or-delay group-[[data-expanded='true']]/btn:opacity-0"
      width="80"
      height="10"
      x="10"
      y="45"
      rx="5"></rect>
    <rect
      class="origin-center transition-r-ot-delay group-[[data-expanded='true']]/btn:transition-t-or-delay group-[[data-expanded='true']]/btn:-translate-y-[20%] group-[[data-expanded='true']]/btn:[rotate:-45deg]"
      width="80"
      height="10"
      x="10"
      y="65"
      rx="5"></rect>
  </svg>
</button>

<script lang="javascript">
  const btnHamburger = document.querySelector('.btn-hamburger');

  btnHamburger.addEventListener('click', () => {
    const isOpened = btnHamburger.getAttribute('data-expanded');

    isOpened === 'false'
      ? btnHamburger.setAttribute('data-expanded', 'true')
      : btnHamburger.setAttribute('data-expanded', 'false');
  });
</script>
