---
---

<video
  class="absolute w-full h-full m-auto -z-20 top-0 left-0 aspect-video object-cover"
  poster="img/bg-cars.png"
  autoplay=""
  muted=""
  loop=""
  playsinline=""
  preload="auto"
  aria-hidden="true"
>
  <source
    src="video/v-mobile.mp4"
    type="video/mp4"
    media="all and (max-width: 768px)"
  />
  <source
    src="video/v-mobile.webm"
    type="video/webm"
    media="all and (max-width: 768px)"
  />
  <source src="video/v-desktop.mp4" type="video/mp4" />
  <source src="video/v-desktop.web" type="video/webm" />
</video>
<div class="absolute w-full h-full -z-10 top-0 left-0 opacity-70 bg-gray-700">
</div>
