---
---

<div
  class="bg-[url('/img/wave.svg')] absolute bottom-0 left-0 w-full h-[220px] bg-no-repeat bg-cover"
>
</div>

<div
  class="bg-[url('/img/wave.svg')] absolute bottom-0 left-0 w-full h-[230px] bg-no-repeat bg-cover bg-bottom -scale-x-100 -z-10 opacity-70"
>
</div>
