---
import Copyright from './Copyright.astro';
import Imagen from './Imagen.astro';
import Information from './Information.astro';
import Resume from './Resume.astro';
---

<footer
  id="footer"
  class="pt-16 w-full h-full lg:h-[550px] bg-gray-800 grid relative -z-40 overflow-hidden"
>
  <div
    class="h-full lg:h-[500px] flex flex-wrap flex-col lg:flex-row lg:fixed bottom-0"
  >
    <Resume />
    <Information />
    <Imagen />
    <Copyright />
  </div>
</footer>
