---
import MainHead from './MainHead.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import ButtonFab from '../components/ButtonFab.astro';

const {
  title = 'Trebol Control | Rastreo satelital por GPS.',
  description = 'Trebol Control prestamos servicios para el control de flotas mejorando los procesos administrativos, operativos y logisticos de nuestros clientes.',
} = Astro.props;
---

<style lang="css">
  @keyframes fadeIn {
    0% {
      filter: blur(2px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes fadeInToBottom {
    0% {
      transform: translate(0px, -100px);
      filter: blur(2px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes fadeInToTop {
    0% {
      transform: translate(0px, 100px);
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes fadeInToRight {
    0% {
      transform: translate(-150px, 0px);
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes fadeInToLeft {
    0% {
      transform: translate(150px, 0px);
      filter: blur(1px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
</style>

<html lang="en" class="scroll-smooth scroll-pt-12">
  <MainHead {title} {description} />
  <body class="bg-gray-800 tracking-wider grid -z-40 relative font-Nunito">
    <Header />
    <slot />
    <Footer />
    <ButtonFab />
    <script type="module" hoist>
      import '../scripts/main.js';
    </script>
  </body>
</html>
